#|========================================|#
#|  This Git Ignore applies specifically  |#
#|   to the Repo's  '/.md-drafts' Folder  |#
#|========================================|#

# Keep all of the following:
!/_Template/**
!**/.placeholder
!**/*README.md


# Ignore All Markdown Files
**/*.md