#★ Aways Include...
	#- 'README' Files
		!**/README.*
		!**/*README.*
	
	#- Placeholders
		!**/*.placeholder.*
		!**/*.placeholder
		!**/*placeholder.*
		!**/placeholder.*
		!**/placeholder
		
	#- Dev-Container Files
		!**/.devcontainer/*
		!**/.devcontainer.json
		
	#- Docker Files
		!**/.docker/*
		!**/.dockerignore
		!**/*.dockerfile
		!**/Dockerfile
		!**/docker-compose.*ml
		!**/*compose.*ml
		!**/compose.yml
		
#★ Temporary Files
	#- Name: 'temp'
		**/*.temp*.*
		**/*.temp.*
		**/*temp.*
		**/.*temp*.*

#★ Project Drafts
	/.projects/Drafts/!_Templates/**
	/.projects/Drafts/Issues/*.md
	/.projects/Drafts/Tasks/*.md
	/.projects/Drafts/*/*/*.md

	#- Issues
		/.projects/Drafts/Issues/Comments/*.md
		/.projects/Drafts/Issues/Descriptions/*.md

	#- Tasks
		/.projects/Drafts/Tasks/Comments/*.md
		/.projects/Drafts/Tasks/Descriptions/*.md
		
