#★ Aways Include...

#- 'README' Files
!**/README.*
!**/**README.*

#- Placeholders
!**/*.placeholder.*
!**/*.placeholder
!**/*placeholder.*
!**/placeholder.*
!**/placeholder

#- Dev-Container Files
!**/.devcontainer/*
!**/.devcontainer.json

#- Docker Files
!**/.docker/*
!**/.dockerignore
!**/*.dockerfile
!**/Dockerfile
!**/docker-compose.*ml
!**/*compose.*ml
!**/compose.yml


#============================
#★ Temporary Files

#- Name: 'temp'
**/*.temp*.*
**/*.temp.*
**/*temp.*
**/.*temp*.*


#============================
#★ Markdown Drafts
/.md-drafts/!_Templates/**

#- Projects
/.md-drafts/Projects/Issues/*.md
/.md-drafts/Projects/Tasks/*.md
/.md-drafts/Projects/*/*/*.md

#- Issues
!/.md-drafts/Projects/Issues/Issues-README.md
/.md-drafts/Projects/Issues/Comments/*.md
/.md-drafts/Projects/Issues/Descriptions/*.md

#- Tasks
!/.md-drafts/Projects/Tasks/Tasks-README.md
/.md-drafts/Projects/Tasks/Comments/*.md
/.md-drafts/Projects/Tasks/Descriptions/*.md

